.banderaFrancia {
    width: 50px;
    height: 30px; 
    float: right;
    margin-left: 10px;
    background-size: 100% 100%; 
    background-image: url('/img/banderas/francia.png');
}

.banderaSuiza {
    width:50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/suiza.png');
}

.banderaMarruecos {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/marruecos.png');
}

.banderaAustria {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/austria.png');
}

.banderaBrasil {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/brasil.png');
}

.banderaItalia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/italia.png');
}

.banderaBulgaria {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/bulgaria.png');
}

.banderaMacedonia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/macedonia.png');
}

.banderaJapon {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/japon.png');
}

.banderaMexico {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/mexico.png');
}

.banderaEtiopia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/etiopia.png');
}

.banderaSerbia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/serbia.png');
}

.banderaRomania {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/rumania.png');
}

.banderaEspania {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/españa.png');
}

.banderaEslovenia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/eslovenia.png');
}

.banderaUsa {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/usa.png');
}

.banderaTurkia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/turkia.png');
}

.banderaKorea {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/coreaSur.png');
}

.banderaTunisia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/tunisia.png');
}

.banderaCheca {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/checa.png');
}

.banderaBosnia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/bosnia.png');
}

.banderaAlemania {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/alemania.png');
}

.banderaPortugal {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/portugal.png');
}

.banderaTailandia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/tailandia.png');
}

.banderaIndonesia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/indonesia.png');
}

.banderaReinoUnido {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/reinoUnido.png');
}

.banderaWorld {
    width: 50px;
    height: 40px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/world.png');
}

.bandareraNetherlands {
    width: 50px;
    height: 40px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/Netherlands.png');
}

.banderaBelgica {
    width: 50px;
    height: 35px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/belgica.png');
}

.banderaChina {
    width: 50px;
    height: 40px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/china.png');
}

.banderaDinamarca {
    width: 50px;
    height: 35px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/dinamarca.png');
}

.banderaTaiwan {
    width: 50px;
    height: 35px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/taiwan.jpg');
}

.banderaPuertoRico {
    width: 50px;
    height: 35px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/puertoRico.png');
}

.banderaColombia {
    width: 50px;
    height: 35px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/colombia.jpg');
}

.banderaIsrael {
    width: 50px;
    height: 35px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/israel.png');
}

.banderaPolonia {
    width: 50px;
    height: 35px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/polonia.png');
}

.banderaSlovakia {
    width: 50px;
    height: 35px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/eslovakia.png');
}

.banderaSweden {
    width: 50px;
    height: 35px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/swenden.png');
}