.triangleFrancia {
    width: 50px;
    height: 30px; 
    float: right;
    margin-left: 10px;
    background-size: 100% 100%; 
    background-image: url('/img/banderas/francia.png');
}

.triangleSuiza {
    width:50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/suiza.png');
}

.triangleMarruecos {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/marruecos.png');
}

.triangleAustria {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/austria.png');
}

.triangleBrasil {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/brasil.png');
}

.triangleItalia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/italia.png');
}

.triangleBulgaria {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/bulgaria.png');
}

.triangleMacedonia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/macedonia.png');
}

.triangleJapon {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/japon.png');
}

.triangleMexico {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/mexico.png');
}

.triangleEtiopia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/etiopia.png');
}

.triangleSerbia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/serbia.png');
}

.triangleRomania {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/rumania.png');
}

.triangleEspania {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/españa.png');
}

.triangleEslovenia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/eslovenia.png');
}

.triangleUsa {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/usa.png');
}

.triangleTurkia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/turkia.png');
}

.triangleKorea {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/coreaSur.png');
}

.triangleTunisia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/tunisia.png');
}

.triangleCheca {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/checa.png');
}

.triangleBosnia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/bosnia.png');
}

.triangleAlemania {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/alemania.png');
}

.trianglePortugal {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/portugal.png');
}

.triangleTailandia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/tailandia.png');
}

.triangleIndonesia {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/indonesia.png');
}

.triangleReinoUnido {
    width: 50px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-size: 100% 100%;
    background-image: url('/img/banderas/reinoUnido.png');
}